asgiref==3.3.1
boto3==1.16.30
botocore==1.19.30
dj-database-url==0.5.0
dj-email-url==1.0.1
Django==3.1.4
django-braces==1.14.0
django-cache-url==3.1.2
django-crispy-forms==1.9.2
django-model-utils==4.1.1
django-star-ratings==0.9.1
django-storages==1.10.1
environs==8.0.0
gunicorn==19.9.0
jmespath==0.10.0
marshmallow==3.9.1
Pillow==8.0.1
psycopg2-binary==2.8.5
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
s3transfer==0.3.3
six==1.15.0
sqlparse==0.4.1
swapper==1.1.2.post1
urllib3==1.26.2
whitenoise==5.1.0
