<!-- templates/forages/project_detail.html -->
{% extends 'base.html' %}

{% block content %}
 <div class="project-detail"> 
   <h2>Project: {{ object.title }}</h2>
    <p> by {{ object.author }} | {{ object.date }}</p>
    <p style="border: 4px solid rgb(0, 89, 255); padding: 10px; border-radius: 25px; width: 45%;">{{ object.description }}</p>
 </div> 

 <div class="entry-container">
    <div class="entries">
        {% for entry in object.entries.all %}
        <p>
            <span class="font-weight-bold">
                {{ entry.author }} &middot;
            </span>
            <em>{{ entry.foraged_material }}</em> | {{entry.short_comment}}
            latitude: {{ entry.latitude}} |
            longitude: {{ entry.longitude }} |
             <a href="{% url 'entry_detail' entry.pk %}">Details</a>
        </p>
        {% endfor %}

    </div>
    <div class="add-entry">
        <a class="btn btn-primary btn-ml2" href="{% url 'entry_new' object.pk %}" role="button">Add Entry</a>
    </div>
 </div>
{% endblock content %}