<!-- templates/forages/project_list.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="welcome-user" style="color:darkcyan; text-align:center; font-size: x-large;">
    <h1 style="padding: 11px;">Welcome <a href="{% url 'profile' user.pk %}"> {{ user.username }}</a></h1>
</div>
{% for project in object_list %}
<div class="card">
    <div clas="card-header">
        <span class="font-weight-bold" style="font-size: x-large;"> <a href= "{% url 'project_detail' project.pk %}">{{ project.title }}</a></span> &middot;
        <span class="text-muted">by  <img  class="rounded-circle account-img" width="3%" height="65%" src="{% static 'images/default.jpg' %}">
            {{ project.author }} | {{ project.date }}</span>
    </div>
    <div class="card-body">
        <div class="text-muted">Project Details: </div> {{ project.description }}
    </div>
    <div class="card-footer">
        {% for entry in project.entries.all %}
        <p>
            <span class="font-weight-bold">
                <img  class="rounded-circle account-img" width="3%" height="65%" src="{{ entry.author.profile.profile_pic.url }}">  {{ entry.author }} &middot;
            </span>
            <em>"{{ entry.foraged_material }}"</em> | 
            {{ entry.short_comment }}
        </p>
        {% endfor %}
    </div>

    <div class="card-footer text-center text-muted">
    
    </div>
</div>
{% endfor %}
<a class="btn btn-primary btn-lg" href="{% url 'project_new' %}">+ New Project</a>
{% else %}
<h1 style="color:darkcyan; text-align: center; font-size: xx-large;"> Please Sign-In before viewing. <br/> Thank you :)</h1> 
<img class="rounded mx-auto d-block" src="{% static 'images/forage1.jpg' %}" height="240" width="250">
<div class="d-flex justify-content-center">
    <a class="btn btn-primary btn-lg" style="display:flex; justify-content: center; align-items: center; width:25%;" href="{% url 'signup' %}">Sign-Up</a>
    <a class="btn btn-success btn-lg" style="display:flex; justify-content: center; align-items: center; width:25%;" href="{% url 'login' %}">Login</a>
</div>
{% endif %}


{% endblock content %}

